{% extends "auctions/layout.html" %}

{% block body %}

    {% if listings.count == 0 %}
        <h1 class="center-content margin-top-70"> No active listings. </h1>
    {% elif no_listings %} 
        <h1 class="no-listings">{{no_listings}}</h1>
    {% else %}
        <h1 class="center-content">Active Listings</h1>
    {% endif %}

    {% for listing in listings %}
        <div class="row listing-content">
            <div class="col-md-10">
                <a href="{% url 'listing' listing.pk %}" style="text-decoration: none; color: inherit;">
                    <h2>{{ listing.title }}</h2>
                    <div>
                        <p>{{ listing.description }}</p>
                        <p>{{ listing.starting_bid }}</p>
                        <div>
                            <img src="{{ listing.url }}" alt="product" width='400' height='300'>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr class="hr-listing">
    {% endfor %}
{% endblock %}