{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>

    <div>
        <div>{{ listing.description }}</div>
        <div>{{ listing.starting_bid }}</div>
        <div><img src="{{ listing.url }}" alt="product"></div>

        {% if added_to_watchlist or on_watchlist %}
            <div>
                <a href="{%url 'watchlist' listing.pk 'delete'%}"><button type="button" class="btn btn-danger">Remove from Watchlist</button></a>
            </div>
        {% else %}
            <div>
                <a href="{%url 'watchlist' listing.pk 'add'%}"><button type="button" class="btn btn-success">Add to Watchlist</button></a>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <form action="{% url 'bid' listing.pk %}" method="post">
                {% csrf_token %}
                <h3>Bid on this item:</h3>
                <input type="number" class="form-control" name="bid">
                <button type="submit" class="btn btn-success">Place a Bid</button>
            </form>
        {% endif %}
    </div>

{% endblock %}