{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Watchlist</h2>

    {% for listing in watchlist_list %} 
        {% if listing.listing.active %}
            <a href="listing/{{ listing.listing.pk }}" style="text-decoration:none">
                <div style="margin: 2rem 0rem; border: 1px solid gray; color: initial">
                    <h3>{{ listing.listing.title }}</h3>
                    <div>{{ listing.listing.description }}</div>
                    <div>{{ listing.listing.starting_bid }}</div>
                    <div><img src="{{ listing.listing.url }}" alt="product"></div>
                </div>
            </a>
        {% endif %}
    {% endfor %}

{% endblock %}