{% extends "auctions/layout.html" %}

{% block body %}

    <h1 class="center-content">Watchlist</h1>

    {% for listing in watchlist_list %} 
        {% if listing.listing.active and watchlist_list.count > 0 %}
            <div class="row listing-content">
                <div class="col-md-10">
                    <a href="{% url 'listing' listing.listing.pk %}" style="text-decoration: none; color: inherit;">
                        <h2>{{ listing.listing.title }}</h2>
                        <div>
                            <p>{{ listing.listing.description }}</p>
                            <p>{{ listing.listing.starting_bid }}</p>
                            <div>
                                <img src="{{ listing.listing.url }}" alt="product" width='400' height='300'>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <hr class="hr-listing">
        {% else %}
            <h1 class="center-content margin-top-70"> No watched listings. </h1>
        {% endif %}
    {% endfor %}

{% endblock %}