{% extends "auctions/layout.html" %}

{% block body %}

    <div class="row listing-content-without-hover">
        <div class="col-md-10">
            <h1>You won this listing!</h1>
            <div class="margin-top-30">
                <h2>{{ won_listings_details.title }}</h2>
                <div>
                    <p>{{ won_listings_details.description }}</p>
                    <p>{{ won_listings_details.starting_bid }}</p>
                    <div>
                        <img src="{{ won_listings_details.url }}" alt="product" width='400' height='300'>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}